.home-container {
    display: flex;

    .all-movies {
        width: 75%;
        min-height: calc(100vh - 80px);
        border-right: 5px solid #2c3e50;
        padding: 20px 40px;
        font-family: "Roboto", sans-serif;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
            margin-top: 30px;
            text-transform: uppercase;
            font-weight: bold;
            border-left: 5px solid #2c3e50;
            padding-left: 10px;
        }

        .view-all {
            font-weight: bold;
            color: #2c3e50;
            cursor: pointer;
        }
    }

    .movies-thumbnail {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        gap: 16px;
        padding-top: 50px;
        row-gap: 80px;
        margin-bottom: 30px;
        overflow: hidden;
        max-height: 850px;
        transition: max-height 0.3s ease-in-out;

        &.expanded {
            max-height: none;
        }

        .movie {
            .cover {
                img {
                    width: 250px;
                    height: 300px;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }

            .details {
                width: 180px;

                .name {
                    font-weight: bold;
                    height: 40px;
                    margin-top: 5px;
                    cursor: pointer;
                }

                .rating {
                    padding-bottom: 10px;
                    padding-top: 3px;
                    padding-right: 40px;
                    position: relative;

                    .rating-value {
                        padding-right: 50px;
                        position: absolute;
                        top: 10px;
                        right: 0px;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .popular-movies {
        width: 25%;
        min-height: calc(100vh - 80px);
        padding: 20px 40px;
        font-family: "Roboto", sans-serif;
        
        overflow: hidden;
        max-height: 200px; 
        transition: max-height 0.3s ease-in-out;

        &.expanded {
            max-height: none; 
        }

        h4 {
            text-transform: uppercase;
            font-weight: bold;
            border-left: 5px solid #2c3e50;
            padding-left: 10px;
        }
        .view-all {
            font-weight: bold;
            color: #2c3e50;
            text-align: right;
            margin-top: 30px;
            cursor: pointer;
        }

        .movies {

            .movie {
                margin-bottom: 20px;
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .name {
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}

.rating {
    padding-right: 45px;
    position: relative;
    margin-top: 10px;

    .rating-value {
        position: absolute;
        top: 10px;
        right: 0px;
        font-weight: bold;
    }
}